body
  overflow: auto !important


hr
  margin-top: 5em


.row
  max-width: 100%
  height: 100%



.ama-is-active
  background: rgba(0, 0, 0, 0.05)


.ama-menu-container
  position: fixed
  height: 100%
  background: #fafafa


.ama-impress-container
  position: relative
  min-width: 1040px

.impress-enabled
  .step
    display: none

    &.active
      display: block

  .ama-slide
    width: 1040px
    transform: translate(-50%, 0%) !important

