body
  overflow: auto !important

.row
  max-width: 100%


.ama-is-active
  background: rgba(0, 0, 0, 0.05)


.impress-enabled
  .step
    display: none

    &.active
      display: block


  .ama-slide
    width: 1040px
    transform: translate(-50%, 0%) !important


.ama-impress-container
  position: relative
